<mat-toolbar color="primary">
    Sign up Flow with Firebase
    <button mat-button routerLink="/login">
      <mat-icon>
        login
      </mat-icon>
      Login
    </button>
  </mat-toolbar>
  
<mat-card class="text-center">
  A fitness website is a place to introduce people to the fitness parlor, 
  the philosophy, and any special focuses. Besides these, a site can achieve 
  so much more. With the right tools, it helps to manage a schedule, appointments, and payments.
   It is also powerful in creating a community and engaging clients.
</mat-card>

  <router-outlet></router-outlet>

